/* ///////////////////////////////////////////////////////////////////// 
//  01 - General
/////////////////////////////////////////////////////////////////////*/

body {
    margin: 0;
    font-family: courier_primeregular, Courier, monospace;
    color: #706149;
}
h1 {
    font-size: 2.5em;
    font-weight: normal;
}
p {
    font-size: 0.9em;
}
.container {
    width: 500px;
    height: auto;
    max-width: 90%;
    margin: 0 auto;
    padding: 0.75em 0;
}
#header {
    padding-top: 1em;
    text-align: center;
}
#logo {
    display: block;
    width: auto;
    max-width: 70%;
    margin: 0 auto;
}
#blurb {
    text-align: justify;
}
#contact {
    text-align: center;
}
#contact>span {
    display: inline-block;
}
/* ///////////////////////////////////////////////////////////////////// 
//  02 - Quotes
/////////////////////////////////////////////////////////////////////*/

#quotes {
    padding: 0 0 1em 0;
}
#quotetxt {
    display: inline-block;
    width: 77%;
    position: relative;
    bottom: 1.25em;
}
#quotetxt>p {
    font-size: 0.75em;
}
#quoteimg {
    display: inline-block;
}

/* ///////////////////////////////////////////////////////////////////// 
//  03 - Responsive
/////////////////////////////////////////////////////////////////////*/

@media all and (max-width: 40em) {
    body {
        overflow: auto;
    }
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 0.75em;
    }
    #phone,
    #email {
        margin: 0;
    }
    #quotes {
        display: none !important;
        height: 0;
    }
}
@media all and (max-height: 35em) {
    #quotes {
        display: none !important;
        height: 0;
    }
}

/* ///////////////////////////////////////////////////////////////////// 
//  04 - Footer
/////////////////////////////////////////////////////////////////////*/

html,
body {
    height: 100%;
    overflow: hidden;
}
#wrap {
    min-height: 100%;
}
#main {
    overflow: auto;
    padding-bottom: 2em;
}
#footer {
    background: #d2cbbf;
    clear: both;
    margin-top: -2em;
    height: 2em;
}
#zigzag {
    position: relative;
    top: -32px;
    background: linear-gradient(-45deg, #d2cbbf 16px, transparent 0), linear-gradient(45deg, #d2cbbf 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    height: 32px;
    width: 100%;
    margin-top: 1em;
}
