// ----------------------------------------------------------------------------
// Configuration
// ----------------------------------------------------------------------------

$white: #F0F2F3;
$red: #EB3139;
$brown: #70614b;

$default-font-size: 16px;
$default-font-family: 'Space Mono', 'monospace';

// ----------------------------------------------------------------------------
// General
// ----------------------------------------------------------------------------

html {
  font-size: $default-font-size;
}

body {
  background-color: $white;
  font-family: $default-font-family;
  color: $brown;
  padding-top: 50px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// ----------------------------------------------------------------------------
// Typography
// ----------------------------------------------------------------------------

.text-brown {
  color: $brown;
}

.text-red {
  color: $red;
}

.text-white {
  color: $white;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  color: $red;
}

h2 {
  font-size: 2rem;
  color: $brown;
}

h3 {
  font-size: 1.25rem;
  color: $red;
}

p {
  font-size: 1rem;
}

a,
a:visited {
  color: $brown;
  text-decoration: none;

  &:hover, &:active {
    text-decoration: underline;
  }
}

// ----------------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------------

[class^="span"] {
  margin: 10px 0 !important;
}

@media only screen and (min-width: 60em) {
  .container {
    max-width: 75%;
  }
}

// ----------------------------------------------------------------------------
// Formatting
// ----------------------------------------------------------------------------

img {
  display: block;
  max-width: 200px;
}

#logo {
  max-width: 100px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 10px;
  background-color: $red;
  cursor: pointer;

  &:hover {
    background-color: $brown;
  }

  &.disabled {
    cursor: default;
    background-color: $brown;
  }
}
