// ----------------------------------------------------------------------------
// Configuration
// ----------------------------------------------------------------------------

$white: #F0F2F3;
$red: #EB3139;
$brown: #70614b;

$default-font-size: 16px;
$default-font-family: 'Space Mono', 'monospace';

// ----------------------------------------------------------------------------
// General
// ----------------------------------------------------------------------------

html {
  font-size: $default-font-size;
}

body {
  background-color: $white;
  font-family: $default-font-family;
  color: $brown;
  padding-top: 50px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:focus {
    outline: none;
  }
}

.bg-brown {
  background-color: $brown !important;
}

// ----------------------------------------------------------------------------
// Typography
// ----------------------------------------------------------------------------

.text-brown {
  color: $brown;
}

.text-red {
  color: $red;
}

.text-white {
  color: $white;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  color: $red;
}

h2 {
  font-size: 2rem;
  color: $brown;
}

h3 {
  font-size: 1.25rem;
  color: $red;
}

p {
  font-size: 1rem;
}

a,
a:visited {
  color: $brown;
  text-decoration: none;

  &:hover, &:active {
    text-decoration: underline;
  }
}

// ----------------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------------

[class^="span"] {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

@media only screen and (min-width: 767px) {
  .container {
    max-width: 75%;
  }
}

// ----------------------------------------------------------------------------
// Miscellaneous
// ----------------------------------------------------------------------------

#logo {
  display: block;
  max-width: 100px;
}

#instafeed {
  img {
    display: inline-block;
    max-width: 100%;
  }
}

.menu-item-name {
  padding-right: 1.5rem;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 10px;
  background-color: $red;
  cursor: pointer;

  &:hover {
    background-color: $brown;
  }

  &.disabled {
    cursor: default;
    opacity: 0.5;

    &:hover {
      background-color: $red;
    }
  }
}

.quantity-picker {
  display: inline-block;
  padding: 12px;
  border-radius: 10px;
  border: 2px solid $red;
  font-size: 1.25rem;
  font-weight: bold;

  .increment,
  .decrement {
    display: inline-block;
    padding: 0 1rem;
    cursor: pointer;

    &.disabled {
      cursor: default;
      opacity: 0.5;
    }
  }
}

@for $i from 1 through 4 {
  .space#{$i} {
    margin-bottom: #{$i}rem;
  }
}

input[type=text] {
  width: 100%;
  border: none;
  border-bottom: 2px solid $red;
  background-color: transparent;
  font-family: $default-font-family;
  font-size: $default-font-size;
  color: $brown;
  display: inline-block;
}

@-webkit-keyframes autofill {
  to {
    color: $brown;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
